<a href="https://colab.research.google.com/github/Ragini181205/Assignment/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
list1 = ["Suzuki","Audi","Mercedes","Tata"]
list2 = ["Tata","Honda","Hero","Mahindra"]

In [28]:
list1 = sorted(list1)
list1

['Audi', 'Mercedes', 'Suzuki', 'Tata']

In [29]:
list2 = sorted(list2)
list2

['Hero', 'Honda', 'Mahindra', 'Tata']

In [31]:
list3 = list1 + list2
list3

['Audi', 'Mercedes', 'Suzuki', 'Tata', 'Hero', 'Honda', 'Mahindra', 'Tata']

In [35]:
list4 = list(set(list1) & set(list2))
list4

['Tata']

In [45]:
Range1 = range(20,41)
print(Range1)

range(20, 41)

In [46]:
for i in Range1:
  print(i)

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40